# MySQL Connector
PyMySQL>=1.0,<2.0

# DataFrames and manipulation
pandas==2.2.2

# Visualization
matplotlib==3.10.1
seaborn==0.13.2

# Optional for statistics and light ML
scipy>=1.10.0,<2.0.0
scikit-learn>=1.2.0,<2.0.0

# Saving and loading files in 'parquet' format
pyarrow

# Adjust chart labels
adjustText
